MIGRAPILOT_ARTIFACT_STORAGE_BACKEND=migradrive
MIGRAPILOT_ARTIFACT_PREFIX=migrapilot
S3_ENDPOINT=https://s3.migradrive.com
S3_REGION=us-east-1
S3_BUCKET=migrapilot-artifacts
S3_ACCESS_KEY_ID=migrapilot-app
S3_SECRET_ACCESS_KEY=replace_me
